/* sponsors.css */

.sponsors-container {
    padding: 20px;
    background-color: #000; /* Background color for the entire section */
    color: #fff; /* Text color for the entire section */
    text-align: center; /* Center the text */
  }
  
  .sponsors-header h1 {
    font-size: 2em; /* Adjust the font size as needed */
    margin-bottom: 20px; /* Space below the header */
    color: #ff6600; /* Orange color for the header text */
  }
  
  .sponsors-benefits-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sponsors-benefits-image img {
    max-width: 100%; /* Make sure the image is responsive */
    height: auto;
  }
  
  @media (max-width: 768px) {
    .sponsors-benefits-content-item {
      text-align: center; /* Center text on smaller screens */
    }
  }
  